*{
    margin: 0%;
}
.mane{
    height: 100vh;
    width: 100%;
    background-color: white;
    display: flex;
    position: absolute;
    flex-wrap: wrap;
}
.mane pre{
    padding-left: 30px;
    padding-top: 20px;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.mane1 img{
    width: 100%;
}
.mane1 img:first-child{
    padding-top: 2%;
}
.mane2{
    height: 460px;
    width: 100%;
    background-color:bisque;
    margin-top: 1%;
}
.mane2 img{
    height: 400px;
    width: 20%;
}