*{
    margin: 0;
}
.main{
    height: 1000px;
    width: 100%;
    
}
header{
    height: 67px;
    width: 100%;
    background-color: #0F1111;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #F1F1F1;
    position: fixed;
    top: 0%;
    z-index: 1;
}
header img{
    height: 50px;
    width: 130px;
}
header .head{
    display: flex;
    align-items: center;
    margin-left: -18px;
}


.head span{
    font-size: 27px;
    margin-top: 17px;
}
.loc-name p{
    margin: 0%;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
}
.loc-name h5{
    font-size: 15px;
}


.search{
    display: flex;
    align-items: center;
    width: 700px;
}
.search .btn{
    background-color: orange;
}


.flage{
    display: flex;
    align-items: center;
    width: 60px;
}
.flage img{
    height: 18px;
    width: 25px;
    position: relative;
    bottom: 3px;
}
.flage h5{
    font-size: 15px;
    margin-left: 3px;
    margin-top: 4px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.sign-in{
    height: fit-content;
    width: fit-content;
    display: flex;
    align-items: center;
}
.sign-name p{
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    margin: 0%;
}
.sign-name h5{
    font-size: 15px;   
}
.sign-in span{
    margin-top: 15px;    
}

.order{
    height: fit-content;
    width: fit-content;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: -10px;
}
.order p{
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    margin: 0%;
    margin-left: -15px;
}
.order h5{
    font-size: 15px;
}


.cart{
    height: fit-content;
    width: fit-content;
    display: flex;
    align-items: center;
}
.cart span{
    font-size: 50px;  
}
.cart h5{
    margin-left: -5px;
    margin-top: 20px;
}


.tail{
    height: 40px;
    width: 100%;
    margin-top: 67px;
    position: sticky;
    background-color: #162e44;
}
.tail .cat{
    display: flex;
    justify-items: start;
}
.cat a{
    font-size: 15px;
    font-family:Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: whitesmoke;
    padding: 0px 11px;
    position: relative;
    padding-top: 7px;
    align-items: center;
}
.cat a:hover{
    color: whitesmoke;
    border: 1px whitesmoke solid;
    padding: 3px 13px;
    border-radius: 5px;
}
.cat img{
    height: 38px;
    width: 50px;
}
.home{
    height: 430vh;
    width: 99%;
    background-color: rgb(199, 203, 203);
    margin: auto;
}
.tv{
    height: 400px;
    width: 350px;
    background-color: rgb(241, 240, 240);
    border: 2px white solid;
    margin-top: 20px;
    
}
.product_wrap{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    top: -330px;
}
.carousel-control-next-icon{
    position: relative;
    bottom: 120px;
}
.carousel-control-prev-icon{
    position: relative;
    bottom: 120px;
}
.tele-items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.tele-items img{
    width: 130px;
    margin-top: 15px;
}
.tele-items p{
    height: 20px;
    width: 130px;
    font-size: 13px;
}
.tv a{
    text-decoration: none;
    position: relative;
    top: 15px;
    left: 30px;
}
.tv h4{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 23px;
    margin-top: 10px;
}
.game img{
    height: 250px;
    width: 270px;
}
.middlebox{
    height: 250px;
    width: 97.3%;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    position: relative;
    left: 20px;
    top: -310px;
}
.middle2box{
    height: 350px;
    width: 97.3%;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    position: relative;
    left: 20px;
    top: -290px;
}
.middle2box img{
    height: 310px;
    width: 97%;
}

.tvt{
    height: 400px;
    width: 352px;
    background-color: rgb(241, 240, 240);
    border: 2px white solid;
    margin-top: 20px;
    
}
.product_wrap_2{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    top: -290px;
    left: 8px;
}
.ele-items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.ele-items img{
    width: 130px;
    margin-top: 15px;
}
.ele-items p{
    height: 20px;
    width: 130px;
    font-size: 13px;
}
.tvt a{
    text-decoration: none;
    position: relative;
    top: 15px;
    left: 30px;
}
.tvt h4{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 23px;
    margin-top: 10px;
}
.bed img{
    position: absolute;
    left: 18%;
    margin-top: 15.3%;
}
.lastbox{
    height: 250px;
    width: 97.3%;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    position: relative;
    left: -8px;
    top: 290px;
}
.end{
    height: 460px;
    width: 110%;
    background-color: #162e44;
    position: relative;
    margin-top: 20.5%;
}
.end pre{
    font-size: 18px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    padding-left: 23%;
}
.end hr{
    margin-left: -33%;
}
.end strong{
    font-size: 25px;
}
